#cancel-button{
    background-color: aqua;
    color: white;
    
}
#shadow-box{
    box-shadow: 2px 5px 3px 10px red ;
}
li:first-child{
    color: chocolate;
}
li:last-child{
    background-color: goldenrod;
}
li:nth-child(2n){
    background-color: aqua;
}
li:nth-child(2n+1){
    background-color: antiquewhite;
}
h3::before{
    content: 'Hello ';
}
h3::after{
    content: 'ami achi';
    color: blueviolet;
}
.special-case::before{
    color: brown;
}
